openapi: '3.0.0'
info:
  version: 1.0.0
  title: OlympiTech API
  license:
    name: MIT
servers:
  - url: https://api.olympitech.com/v1
paths:
  /plugins:
    get:
      summary: List all plugins
      operationId: listPlugins
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of plugins
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugins'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create plugin
      operationId: createPlugin
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /plugins/{pluginId}:
    get:
      summary: Get plugin info
      operationId: showPluginById
      parameters:
        - name: pluginId
          in: path
          required: true
          description: The id of the plugin to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugins'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /discordLinks:
    get:
      summary: List Discord links
      operationId: listDiscordLinks
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of Discord links
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscordLinks'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create link
      operationId: createDiscordLink
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Plugin:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        author:
          type: string
    Plugins:
      type: array
      items:
        $ref: '#/components/schemas/Plugin'
    DiscordLink:
      required:
        - id
        - user
      properties:
        id:
          type: integer
          format: int64
        user:
          type: string
        discordId:
          type: string
    DiscordLinks:
      type: array
      items:
        $ref: '#/components/schemas/DiscordLink'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string